In [111]:
#import of pandas library
import pandas as pd

In [112]:
#Reading of different CSV files
progress_df = pd.read_csv('material_progress.csv')

In [113]:
material_df = pd.read_csv('material.csv')

In [114]:
user_df = pd.read_csv('user_skill.csv')

In [115]:
progress_df

,user_id,material_id,started_at,finished_at
0,NVtS.3y2cqAPta8vp9mCaAn5NxToIdGRkfNn7xQx,DE98877711174670901191,2016-06-29 16:49:13.759,2016-06-29 16:53:31.886
1,nygas99jztQq9WZnw.6CJcn66D3274iGUz6habfD,DE12131011171121131109,2016-03-17 17:44:49.851,2016-03-17 17:44:51.412
2,9z09kkdnXbwIhNjrCmblpkcq2tMRD6clsOFMAd4j,DE11211470105977410790,2015-10-14 19:57:25.000,2015-10-14 19:57:28.464
3,zxUrSEtSJkcJ4NIXQi1NUMEGT2VeDiGU28APbHyk,DE10578698098111390901,2016-07-05 01:04:46.826,2016-07-05 01:04:48.166
4,WbiAkqGINB.GiElspYTwbIzFzfjI09BZAmhTl8Ff,DE86106683118467121141,2015-09-22 23:37:17.872,2015-09-22 23:53:22.468
...,...,...,...,...
34429,jJzReYmETY2QsJwrK2IfogHRT.BsS2ep6mYPbsx3,DE85896610092102111190,2016-02-01 12:55:49.407,2016-02-01 13:11:43.743
34430,JKPXrOAoD3MTLPSKCXwpboEuIk6lLUo0QfOqcVKT,DE11410165104119910883,2015-03-01 09:29:42.916,2015-03-01 09:32:08.007
34431,aWxqWegyYCk0j1FRv4XgWQuQfSo0lHyRIqlvILgN,DE11190737899794611770,2016-02-17 15:05:45.786,2016-02-17 15:10:55.866
34432,33OhcAGnEeUAZL5gnVJshIt6Z9eot5FK6OfmjoJw,DE75112807286739821091,2016-02-13 10:14:09.115,2016-02-13 10:19:10.426
34433,.99Rok5rK8k5TRx45QX.mUNkI3.ndzSd2q1f5jDv,DE77112658881706869711,2016-07-02 23:12:16.829,2016-07-02 23:12:19.885

In [116]:
material_df

                 material_id   type language  duration_minutes
0     DE10273658186102893108  video       en                 4
1     DE65100778896973122987  video       en                 5
2     DE81811499116100670121  video       en                 4
3     DE11810611510611074981   text       en                 5
4     DE83768011872511399827   text       de                 1
...                      ...    ...      ...               ...
5103  DE65102667389977931058  video       en                 4
5104  DE10924611611079997776  video       de                11
5105  DE82671121061121061671  video       en                 5
5106  DE28677699911784117689   text       en                12
5107  DE46716798541067611290   text       en                10

[5108 rows x 4 columns]

In [117]:
user_df

,user_id,skill_id,is_mastered
0,9aMTY.HhCbE.KkdjhBwLrYRGMsh7rx3wwlDOFsCK,TRFOqyu.xgwDSQg.0TZGYMGwUSC7EIbzYOqA,False
1,xXtwl2I6mU2BtSu8LkswN6oHtPse60m2cP4xMNXY,9ObapAwuT3A0qeinUTAc8EnScTtfyEB5c6.a,False
2,EpjLTGnmZ1g.Ed45Jbm85M4ZlZj814pIM5JWxAzt,9X7JnvyCgM..Pj.d.CV7bUTZ4FNM3getInnj,False
3,FD.CH9qTlwQOpunsPCi7CsmcGv4.GFFpkUoLWKcP,uMADoKLqo6I8cf.Q.J41Zw0GmDNwIZpZw9iQ,True
4,4KSDKjWfqcgDfRpLH8dBsE8e4oCFQaEKwcqTYpER,4I6eSc7imYY.iZaUKL5.Qwem0J.SY1Ja6uMd,True
...,...,...,...
19120,em.TyXAyly6vageSob76FMzHutInS7RxcetaUogC,Wk2.eSOI3ukHpgCp3cYqXov77.PuAr.n6xAZ,False
19121,bWItgpric0IKLjkJIbPO4.EYvpTOZ0ruM5F2P4Bv,Jxlh66zOw..l6BcFi7eFxMM.x90DBSrgoA3s,True
19122,pcvaEiHRDAc9Jrujctl63AEO9x8EAGEaQAtcuQAd,5r.wnKRTLjAoPGvoUcZm1wtz.y3TDqSyoNCo,False
19123,uuFf8yP8Wv6Rj0qau8j..oF6Bgp6tw5WU99Mua1l,qeAkh.VzUH2w5VbhbCnqiUPjoa8QV47.EfFX,True
19124,bCv04rX55kgcYdWSMwnbd6xLR2.MQDfpcg.DR3Td,e0APU.umiV.2dD.9wYHpC.xcWHOIb9YXUyXJ,True

In [118]:
# Merging of 2 Dataframe

progress_df = pd.merge(progress_df, material_df, how='inner', on='material_id')

In [119]:
# Checking for Missing values and Unique values present.

print(progress_df.info())
print("Rows               : ", progress_df.shape[0])
print("Coloumns           : ", progress_df.shape[1])
print("\nMissing values     : \n", progress_df.isnull().any())
print("\nUnique values      : \n", progress_df.nunique())
progress_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34434 entries, 0 to 34433
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           34434 non-null  object
 1   material_id       34434 non-null  object
 2   started_at        34434 non-null  object
 3   finished_at       32950 non-null  object
 4   type              34434 non-null  object
 5   language          34434 non-null  object
 6   duration_minutes  34434 non-null  int64
dtypes: int64(1), object(6)
memory usage: 2.1+ MB
None
Rows               :  34434
Coloumns           :  7

Missing values     :
 user_id             False
material_id         False
started_at          False
finished_at          True
type                False
language            False
duration_minutes    False
dtype: bool

Unique values      :
 user_id              1504
material_id          3077
started_at          34434
finished_at         32949
type                    3
language                2
duration_minutes       52
dtype: int64

,user_id,material_id,started_at,finished_at,type,language,duration_minutes
0,NVtS.3y2cqAPta8vp9mCaAn5NxToIdGRkfNn7xQx,DE98877711174670901191,2016-06-29 16:49:13.759,2016-06-29 16:53:31.886,video,de,4
1,LHdjFC4q1jEBjECy.5PxWAZeYJ6uj2.y25AyzOAU,DE98877711174670901191,2016-06-12 19:41:12.039,2016-06-12 19:44:50.647,video,de,4
2,nj4g0jQSPhUK315D9jkgo.PS4jpbbeOg.dsTHBNG,DE98877711174670901191,2016-06-04 11:18:09.741,2016-06-04 11:20:13.646,video,de,4
3,FgwHE3UrLJ.dHPq3PE.szgxgJTYihz3Tsg3z4jlF,DE98877711174670901191,2016-06-30 19:06:21.858,2016-06-30 19:06:29.047,video,de,4
4,Q3EfDA.WkPMlC2fjzZ7qxsXUMAeWewJaoItPsQz0,DE98877711174670901191,2016-06-15 16:17:52.649,2016-06-15 16:22:16.896,video,de,4

In [120]:
# Conversion to datetime format and detection for variance present in data for calculating minutes difference. 

progress_df['started_at'] =  pd.to_datetime(progress_df['started_at'], format='%Y-%m-%d %H:%M:%S.%f')
progress_df['finished_at'] =  pd.to_datetime(progress_df['finished_at'], format='%Y-%m-%d %H:%M:%S.%f')
progress_df['mins_spent'] = progress_df['finished_at'] - progress_df['started_at']
progress_df['mins_spent'] = progress_df['mins_spent'].astype('timedelta64[m]')
progress_df['mins_diff'] = progress_df['duration_minutes'] - progress_df['mins_spent']

In [121]:
progress_df

,user_id,material_id,started_at,finished_at,type,language,duration_minutes,mins_spent,mins_diff
0,NVtS.3y2cqAPta8vp9mCaAn5NxToIdGRkfNn7xQx,DE98877711174670901191,2016-06-29 16:49:13.759,2016-06-29 16:53:31.886,video,de,4,4.0,0.0
1,LHdjFC4q1jEBjECy.5PxWAZeYJ6uj2.y25AyzOAU,DE98877711174670901191,2016-06-12 19:41:12.039,2016-06-12 19:44:50.647,video,de,4,3.0,1.0
2,nj4g0jQSPhUK315D9jkgo.PS4jpbbeOg.dsTHBNG,DE98877711174670901191,2016-06-04 11:18:09.741,2016-06-04 11:20:13.646,video,de,4,2.0,2.0
3,FgwHE3UrLJ.dHPq3PE.szgxgJTYihz3Tsg3z4jlF,DE98877711174670901191,2016-06-30 19:06:21.858,2016-06-30 19:06:29.047,video,de,4,0.0,4.0
4,Q3EfDA.WkPMlC2fjzZ7qxsXUMAeWewJaoItPsQz0,DE98877711174670901191,2016-06-15 16:17:52.649,2016-06-15 16:22:16.896,video,de,4,4.0,0.0
...,...,...,...,...,...,...,...,...,...
34429,ZbvEIfRSg1AfWmVJCSb66U.MfVup7PCgMqG7J8XX,DE10477187678310269881,2015-10-16 23:21:55.235,2015-10-16 23:23:07.309,video,de,2,1.0,1.0
34430,GfaCxS8roMwXSdanbFEY1EwDh3e44jGtEsjceNG1,DE99688211468106112109,2016-04-08 03:31:32.521,2016-04-08 03:31:36.900,video,en,12,0.0,12.0
34431,AN4Pq0b9jQIzUGReLTepJwJC.kjhxo456AHx0OrO,DE72891911666627474468,2016-08-23 14:47:21.800,NaT,video,en,4,NaN,NaN
34432,U1Saeho9fHU551sB8g74..q56chzxG4.6hdg5j2K,DE81816083116118701144,2016-05-14 21:57:20.286,2016-05-14 22:15:33.240,text,en,8,18.0,-10.0
34433,7cdHj22RXS2NCfpLldkv1UIQnhc6Z5RTwi8FaSqc,DE85868789115011575111,2016-07-20 21:45:13.108,2016-07-20 21:46:50.310,video,de,7,1.0,6.0

# Minutes Difference with Minutes spent is more on some cases which can be a case of deviation in Learning time

In [122]:
def get_count_map(data, token):
    return list({val : data[token].value_counts()[val] for val in data[token].unique().tolist()}.items())

def merge_multiple_dfs(dfs, joinkey):
    if len(dfs) < 2:
        raise valueError
    merged_df = pd.merge(dfs.pop(), dfs.pop(), how='inner', on=joinkey)
    if len(dfs) != 0:
        for df in dfs:
            merged_df = pd.merge(merged_df, df, how='inner', on=joinkey)
    return merged_df

# Stats based on Different Idkey and Relation

In [123]:
# Creation of two dataframe based on a suspicion one and sincere for cheating case based on unique user ID.

suspicous_df = progress_df[ (progress_df['mins_spent'] != progress_df['duration_minutes']) & 
                                   (progress_df['mins_spent'] == progress_df['mins_spent'])]
sincere_df = progress_df[ (progress_df['mins_spent'] == progress_df['duration_minutes']) & 
                                   (progress_df['mins_spent'] == progress_df['mins_spent'])]

In [124]:
idkey = 'user_id'
user_stats_df = merge_multiple_dfs([
                                    pd.DataFrame.from_records(get_count_map(suspicous_df, idkey), 
                                                   columns=[idkey, 'cheated_count']), 
                                    pd.DataFrame.from_records(get_count_map(sincere_df, idkey), 
                                                   columns=[idkey, 'completion_count']),
                                    pd.DataFrame.from_records(get_count_map(progress_df, idkey), 
                                                   columns=[idkey, 'materials_attempted']),
                                    pd.DataFrame.from_records(get_count_map(user_df[user_df['is_mastered']], idkey), 
                                                   columns=[idkey, 'mastered_skill_count']),
                                    pd.DataFrame.from_records(get_count_map(user_df, idkey), 
                                                   columns=[idkey, 'skill_count'])
                                   ], joinkey=idkey)

In [125]:
user_stats_df

,user_id,skill_count,mastered_skill_count,cheated_count,completion_count,materials_attempted
0,9aMTY.HhCbE.KkdjhBwLrYRGMsh7rx3wwlDOFsCK,35,16,76,18,94
1,xXtwl2I6mU2BtSu8LkswN6oHtPse60m2cP4xMNXY,59,26,143,7,150
2,4KSDKjWfqcgDfRpLH8dBsE8e4oCFQaEKwcqTYpER,49,25,106,8,114
3,2l91D6ihrhk8lyU7MYxPTs50bXWPrBPiYJwhJnHb,30,16,69,4,73
4,LuxfoyTs3bAEHMzfR1SsxUYIUzvFYNS5oXE80CMn,28,11,125,9,134
...,...,...,...,...,...,...
456,U07BtXgTUmkUb5THsC3lZEC.hMRnvCoTwbu2KSV6,19,9,52,21,74
457,iYuW6Ks.ijULmScaJCLFAIAsuAahWhevonFehmPZ,6,2,4,1,5
458,kPGhfGl7NtEEQWJ7Zsp31oFzWI6i77o5khdDvUyR,5,3,3,1,4
459,6Oi2SsxphUYZj2CT.AnX7QT9jqJQHQi.ItV04O7b,2,1,7,1,8
460,kLq8n7TFh06Tl9ncIX15TQ0UuI.ETS8Q2bnj0Ver,3,2,6,4,10

In [6]:
# Results based on material,type,language and differences

In [133]:
idkey = 'material_id'
material_stats_df = merge_multiple_dfs([
                                    pd.DataFrame.from_records(get_count_map(suspicous_df, idkey), 
                                                       columns=[idkey, 'cheated_count']), 
                                    pd.DataFrame.from_records(get_count_map(sincere_df, idkey), 
                                                       columns=[idkey, 'completion_count']),
                                    pd.DataFrame.from_records(get_count_map(progress_df, idkey), 
                                                   columns=[idkey, 'freq_taken']),
                                    material_df
                                   ], joinkey=idkey)

In [134]:
material_stats_df

,material_id,type,language,duration_minutes,freq_taken,cheated_count,completion_count
0,DE79103110109651171091,text,de,7,35,26,4
1,DE11597108184109461061,video,en,3,4,3,1
2,DE74076688787686101981,video,en,6,31,30,1
3,DE12084977997986819083,video,en,3,18,16,1
4,DE67383786810706911684,video,en,8,20,18,2
...,...,...,...,...,...,...,...
1318,DE80976868721078067811,interactive,en,10,7,6,1
1319,DE80104100121677184468,video,en,3,10,7,3
1320,DE11712046985909112105,video,en,8,13,7,6
1321,DE65102667389977931058,video,en,4,19,13,5
1322,DE10924611611079997776,video,de,11,22,18,4

In [128]:
idkey = 'type'
type_stats_df = merge_multiple_dfs([
                                    pd.DataFrame.from_records(get_count_map(suspicous_df, idkey), 
                                                       columns=[idkey, 'cheated_count']), 
                                    pd.DataFrame.from_records(get_count_map(sincere_df, idkey), 
                                                       columns=[idkey, 'completion_count']),
                                    pd.DataFrame.from_records(get_count_map(progress_df, idkey), 
                                                   columns=[idkey, 'freq_taken']),
                                   ], joinkey=idkey)

In [129]:
type_stats_df

          type  freq_taken  completion_count  cheated_count
0        video       24197              4045          19166
1         text        9659               364           8818
2  interactive         578                11            546

In [131]:
idkey = 'language'
lang_stats_df = merge_multiple_dfs([
                                    pd.DataFrame.from_records(get_count_map(suspicous_df, idkey), 
                                                       columns=[idkey, 'cheated_count']), 
                                    pd.DataFrame.from_records(get_count_map(sincere_df, idkey), 
                                                       columns=[idkey, 'completion_count']),
                                    pd.DataFrame.from_records(get_count_map(progress_df, idkey), 
                                                   columns=[idkey, 'freq_taken']),
                                   ], joinkey=idkey)

In [132]:
lang_stats_df

  language  freq_taken  completion_count  cheated_count
0       de       13565              1701          11556
1       en       20869              2719          16974

# User class

In [165]:
from pprint import pprint

class user:
    def __init__(self, user_id: str, skills_dict: dict, stats_info: dict):
        self.user_id = user_id
        self.skills_dict = skills_dict
        self.stats_info = stats_info
        
    def describe(self):
        print(f'ID: {self.user_id}')
        print('\nSkills:')
        pprint(self.skills_dict)
        print('\nStats:')
        pprint(self.stats_info)

def build_userdb():
    userdb = []
    user_stats_cols = list(user_stats_df.columns)
    user_stats_cols.remove('user_id')
    for user_id in user_stats_df['user_id']:
        skills_dict = dict(zip(user_df[user_df['user_id'] == user_id].skill_id, user_df[user_df['user_id'] == user_id].is_mastered))
        stats_info = user_stats_df[user_stats_df['user_id'] == user_id][user_stats_cols].to_dict('records')
        stats_info = stats_info[0]  if isinstance(stats_info, list) else stats_info
        userdb.append(user(user_id, skills_dict, stats_info))
    return userdb

userlist = build_userdb()

In [166]:
userlist[0].describe()

ID: 9aMTY.HhCbE.KkdjhBwLrYRGMsh7rx3wwlDOFsCK

Skills:
{'.YwVP7VTWNkzCOxfx.btWgFePdqZ5y13MeMR': False,
 '0tWepJFquXkG.B7Ua6jvXgOf2YFpLmMQsUMd': False,
 '4ekBrQKG.VcMceGqCQFJYMlr2FIBY8E7ccqF': False,
 '73MGzfMfSRA5nMs0KblGocZQRwyiCIyGMTKs': True,
 '7fZq.0ucsqcumTqytMbWeYAyeb7tO67ksvz0': False,
 '8YJLi.6YI16tDPF.wFgsmg.4enR66AIe6gZa': True,
 '8aJVIroCV7MDtpuxyQpKVUcR.Dm64XznwACY': True,
 'AG3lQU.LGIwtaPv1c2cNKgFJd0NTND.a6b.W': False,
 'DoLZ.6nMjsgTMbDQsTp1VEZ5j1aBhr44ozyL': False,
 'E508FKJnZ7UN0lKTtvpuDcM3rQ.gDgyMAD9F': True,
 'EEpT.112sGkkjpARgVnMpkf8rTS55E7JoUs9': True,
 'Fzokl7FimCQLVFw0izHhWwG36lexPdccQybX': False,
 'HGUkjMhrVJolDN7juOKpYUomayrhVxZEongA': True,
 'LItOqtMKX7cM6xsRKJRqN2xwCBa7q5Dxs4GN': True,
 'LmZJUlLxvlY2o3cIz3v.IoB63.w1IxumM8f0': False,
 'PCR.kiyMylc4x3TZxTQ2OcH8J5o5WU0zc0rF': False,
 'QKbt2gokq0sUNctI669kJEE1O3MRfYkrgbba': True,
 'Ro2U6ogtQVQcBbUFAzavKU7fNOYNPH3gIGFa': False,
 'TRFOqyu.xgwDSQg.0TZGYMGwUSC7EIbzYOqA': False,
 'XNe5PvhNPyUtGwXDGh25b2iZbL2mp2OAoDK3': True,
 'XXwJSU0pQqAZbCmJtMLHas7M3wKvdvOvUbSs': True,
 'awvlTOTZXzYch7G2SJyINc8dXm853.wY6Iwm': False,
 'bkWdYpAWBOQQ1ADbLZqdUoVVqoySAkweEvmZ': True,
 'dDQIlOYxTxIn8bsxoeB9.IKw3.481J7e2fpt': False,
 'dnzU9HBXvRUQR.5dJGVWr2B3pjFqIIWxQDmi': False,
 'e5LhxjOAhoQSoBb6WwONLIUOAwb.xB586t.a': False,
 'f21v4hOhgaQiasjdgbqYokmf7qtMZ7pKYU4v': True,
 'kR6K5PhS.LUx19zyXUN1a2ZY7hUy2vHJIT2O': False,
 'kZqxLjG9VGINzpMvN5Mod2LfJzlOM2soQ2P0': True,
 'ndUS4asubNooN3SfBTNvko71GCbHIBQ8IMmR': True,
 'qG2oaK31VeMbzaHGIMQaa.TTAkKrFQq.cF5H': False,
 'toiwo3hVQTMGQ7Z3ZKznnM4JuyLJxwJuw8Zf': False,
 'uXJ6hPg44RIk.KVVaTnc2oIVdWDnV6t7Qjd.': True,
 'xvIFvVOhc0oOo6TkaAHgu.0BkQ7vCbLSkXdL': False,
 'zRpS3cEeHlM.wLTQcBS42QensBW.YiADEemL': True}

Stats:
{'cheated_count': 76,
 'completion_count': 18,
 'mastered_skill_count': 16,
 'materials_attempted': 94,
 'skill_count': 35}